/* RESET http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/ */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
		font-weight: inherit;
		font-style: inherit;
		font-size: 100%;
	}
	/* remember to define focus styles! */
	:focus {
		outline: 0;
	}
	body {
		line-height: 1;
		color: #000000;
		background: white;
		font-family: myriad-pro,helvetica,arial,sans-serif;
	}
	
	ol, ul {
		list-style: none;
	}
	/* tables still need 'cellspacing="0"' in the markup */
	table {
		border-collapse: separate;
		border-spacing: 0;
	}
	caption, th, td {
		text-align: center;
		font-weight: normal;
	}
	blockquote:before, blockquote:after, q:before, q:after {
		content: "";
	}
	blockquote, q {
		quotes: "" "";
	}
	
	input {
		height:19px;
		border:none;
		padding:0;
		margin:0;
	}

/*ENDOF RESET*/

/*
Copyright (C) 2015 Philipp Martin

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
    */

td {
	white-space:nowrap;
}

@font-face {
	font-family: Mason;
	src: url('../fonts/Mason_Regular.ttf') format('truetype');
}

@font-face {
	font-family: Mason;
	src: url('../fonts/Mason-Bold.ttf') format('truetype');
	font-weight:bold;
}

@font-face {
	font-family: elegarmond;
	src: url('../fonts/elegant-garmond-bt.ttf') format('truetype');
}

@font-face {
	font-family: elegarmond;
	src: url('../fonts/elegant-garmond-bold.ttf') format('truetype');
	font-weight:bold;
}

@media print {
	.noPrint {
		display:none;
	}

	input[type="button"] {
		display:none;
	}
}

